In [131]:
from pymongo import MongoClient
import pandas as pd

In [4]:

dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

# Filtering for offices in England

In [132]:
#Find the all the different country codes
query={'offices': { '$exists': 'true', '$not': {'$size': 0} }}
web_offices = list(db.companies.find(query,{"offices":1,"name":1}))

countries=set()
for i,e in enumerate(web_offices):
    countries.add(e['offices'][0]['country_code'])
#countries

In [150]:
#Start with filtering only for offices in England
query={'offices':{'$elemMatch':{'country_code':'GBR'}}}
gb_offices = list(db.companies.find(query,{"name":1, "offices":1,'total_money_raised':1,'founded_year':1}))

In [155]:
office_df = pd.DataFrame(gb_offices).explode('offices')

In [156]:
office_df.head()

,_id,name,founded_year,total_money_raised,offices
0,52cdef7c4bab8bd675297da0,Babelgum,2007.0,$13.2M,"{'description': '', 'address1': '', 'address2'..."
1,52cdef7c4bab8bd675297da6,SpinVox,NaN,$106M,"{'description': 'Corporate Headquarters', 'add..."
2,52cdef7c4bab8bd675297da8,OpenX,2008.0,$75.5M,"{'description': 'Headquarters', 'address1': '8..."
2,52cdef7c4bab8bd675297da8,OpenX,2008.0,$75.5M,"{'description': 'New York', 'address1': '584 B..."
2,52cdef7c4bab8bd675297da8,OpenX,2008.0,$75.5M,"{'description': 'London', 'address1': '1 Maple..."

In [157]:
office_df['offices'][0]

{'description': '',
 'address1': '',
 'address2': '',
 'zip_code': '',
 'city': 'London',
 'state_code': None,
 'country_code': 'GBR',
 'latitude': 53.344104,
 'longitude': -6.267494}

In [170]:
def extract_loc(x):
    of = x['offices']
    if of["longitude"]==None:
        return (of['country_code'],
           of['city'], 
                None)
    return (of['country_code'],
           of['city'],
           {"type":"Point",
                    "coordinates":[of["longitude"],of["latitude"]]})

In [173]:
offices = office_df.apply(extract_loc,axis=1, result_type="expand")
offices.head()

     0                1                                                  2
0  GBR           London  {'type': 'Point', 'coordinates': [-6.267494, 5...
1  GBR  Buckinghamshire                                               None
2  USA         Pasadena  {'type': 'Point', 'coordinates': [-118.1327468...
2  USA         New York                                               None
2  GBR           London                                               None

In [220]:
#Append to office_df
offices_loc = pd.concat([office_df, offices], axis=1)
offices_loc.columns = ['__id', 'name', 'founded_year', 'raised', 'offices','country', 'city', 'location']
offices_loc = offices_loc[offices_loc.country=='GBR']
#offices_loc['raised'] = offices_loc.raised.apply(lam)

,__id,name,founded_year,raised,offices,country,city,location
1326,52cdef7f4bab8bd67529c6ae,Systems Integration,NaN,£850k,"{'description': '', 'address1': 'TRENT HOUSE, ...",GBR,,None
1327,52cdef7f4bab8bd67529c6c0,Block Shield,2000.0,$0,"{'description': '', 'address1': '190 Strand', ...",GBR,London,"{'type': 'Point', 'coordinates': [-0.114374, 5..."
1328,52cdef7f4bab8bd67529c6cc,Knowledge Genes,2008.0,$0,"{'description': 'Research and Development', 'a...",GBR,,None
1329,52cdef7f4bab8bd67529c6dc,acrossair,2009.0,$0,"{'description': '198 High Holborn', 'address1'...",GBR,London,"{'type': 'Point', 'coordinates': [-0.1165365, ..."
1330,52cdef7f4bab8bd67529c6e6,OfficialVirtualDJ,2009.0,€25M,"{'description': 'Created in London', 'address1...",GBR,London,None

In [221]:
#Euros: 1.09 dollars
#Punds: 1.25
def clean_raised(x):
    currency = {'$':0,'£':1.25,'€':1.09}
    a = 0
    if len(x)<3:
        return 0
    for c in currency:
        if c in x:
            a = float(x[1:-1])*currency[c]
        if 'k' in x:
            a = a/10
    return round(a,3)

In [222]:
offices_loc['raised'] = offices_loc.raised.apply(clean_raised)

ValueError: could not convert string to float: '$30'

## Filtering to accomodate developers: top notch companies (raised 1 mill dollars)

5.5

In [ ]:
def getOfficeNear(address, maxDist=1000):
    point = geocode(address)
    return {
       "office": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

({'category_code': 'web'}, {'offices': 1, 'name': 1})

In [7]:
#Example of a google api query:
'''
https://maps.googleapis.com/maps/api/place/nearbysearch/json
  ?location=-33.8670522,151.1957362
  &radius=500
  &types=food
  &name=harbour
  &key=YOUR_API_KEY
'''

'\nhttps://maps.googleapis.com/maps/api/place/nearbysearch/json\n  ?location=-33.8670522,151.1957362\n  &radius=500\n  &types=food\n  &name=harbour\n  &key=YOUR_API_KEY\n'